# Local setup folders
.terraform/

# Distributed lock file (Safe to ignore for student projects)
.terraform.lock.hcl

# THE MOST IMPORTANT: State files (Security Risk)
*.tfstate
*.tfstate.backup

# Variable files (If they contain real passwords)
*.tfvars
*.tfvars.json

# --- SSH & Security ---
# Specifically ignore your old and new keys
my-cloud-key
my-cloud-key.pub
my-cloud-v2
my-cloud-v2.pub
*.pem
*.pub