# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan
terraform.tfvars

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project
app.zip
*.pem
.terraform.tfstate.lock.info